* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cointainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 21rem;

}

tr {
    margin: 2px;

}

td {
    border: 1px solid gray;
    padding: 1rem;
    width: 20rem;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(63, 175, 175);
}

.Operator {
    background-color: orange;
}

.Result {}

.upper {
    display: flex;
    align-items: flex-start;
    background-color: aliceblue;
}

.lower {
    display: flex;
    align-items: flex-start;
    background-color: aliceblue;
}