* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cointainer {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.tabCoint{
    border: 1px solid black;
    width: 21rem;
}
.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

tr {
    margin: 2px;

}

td {
    border: 1px solid gray;
    padding: 1rem;
    width: 20rem;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(63, 175, 175);
}

.Operator {
    background-color: orange;
}

.full{

    padding: .6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: lightgray;
    font-weight: bold;
    overflow: hidden;
    font-size: 2rem;
    height: 3rem;

}
.result{
        height: 3rem;
        background-color: lightgray;
        padding: .6rem 1rem;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end;
       font-size: 2rem;
        font-weight: bolder;
        color: rgba(26, 26, 175, 0.589);
        overflow-wrap: break-word;
        

}
